/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Nunito:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  line-height: 20px;
  font-weight: 600;

  /* color: rgba(4, 4, 5, 0.5); */
  color: rgb(110, 110, 110);

  /* font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

body {
  font-size: 0.9rem;
  /* color: #3c4043; */
  text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
b {
  color: #000;
  font-weight: 700;
}

b {
  /* font-weight: 600; */
}

.back-header {
  margin-top: 70px;
  padding: 0 20px;
}

.back-button {
  cursor: pointer;
  transition: 0.2s linear;
}

.back-button:hover {
  color: grey;
}

.ReactModal__Overlay,
.ReactModal__Overlay--after-open {
  box-shadow: inset 50px 1000px 20px 20px rgb(4 4 5 / 85%);
  /* box-shadow: inset 50px 1000px 20px 20px #00000033; */
}

.center-width {
  padding: 20px;
  width: 100%;
  max-width: 500px;
}

/* .cc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 10%;
  background-color: red;
} */

.under-header {
  margin-top: 70px;
  padding: 20px;
}

.upload-container {
  max-width: 500px;
  margin: auto;
}

.color-container {
  /* background-color: #fafafa; */
  /* background-color: #f0f3f4; */
  /* border: 1px solid #00000014; */
  /* padding: 20px; */
  /* border-radius: 10px; */
}

.tags-bar {
  /* width: 100%; */
  overflow-x: scroll;
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid #00000014; */
  margin-top: 72px;
  padding: 0 20px;
}

.tag-item {
  white-space: nowrap;
  /* background: #ededed; */
  /* font-weight: normal; */
  color: #000;
  border: 1px solid #00000014;
  border-radius: 100px;
  width: -webkit-min-content;
  width: min-content;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.2s linear;
  -webkit-user-select: none;
  user-select: none;
  margin: 10px;
  margin-left: 0;
  /* font-weight: 600; */
}

.tag-item:hover {
  color: #0069ee;
  /* background: transparent;
  border-color: transparent; */
}

.active-tag-item {
  background-color: #000;
  color: #fff;
}

header {
  position: fixed;
  top: 0px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background: #ffffffe8;
  z-index: 10;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(26px);
  /* border-bottom: 1px solid #00000014; */
  /* padding: 20px; */
  /* border-bottom: 1px solid #00000014; */
}

.header-wrapper {
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.avatar {
  /* border: 1px solid #00000014; */
  /* background: #0F1218; */
  border-radius: 100px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-sm {
  width: 33px;
  height: 33px;
  /* background-color: #ffd200; */
  /* padding: 0; */
  object-fit: cover;
  /* width: 80px; */
}

.icon-btn {
  /* background: #0f1218; */
  border-radius: 100px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* border: 1px solid #00000014; */
  /* color: #fff; */
}

.icon-btn svg {
  width: 20px;
}

.icon-btn:hover {
  background: transparent;
}

.cancel-btn {
  cursor: pointer;
}

.cancel-btn:hover {
  color: #0069ee;
}

.search-container-wrapper {
  position: absolute;
  background-color: #0000008f;
  top: 70px;
  width: 100vw;
  height: 100vh;
  z-index: 9;
}

.empty-search-container {
  display: none;
}

.search-container {
  padding: 20px;
  width: 40%;
  margin: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  max-height: 75vh;
  overflow-y: scroll;
  padding-bottom: 100px;
  background-color: #fff;
}

.search-box {
  margin-left: 70px;
  background: #ededed;
  width: 52%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 100px;
  /* border: 1px solid rgba(0, 0, 0, 0.05); */
  transition: 0.2s linear;
  border: 2px solid #ededed;
}

.search-box svg {
  color: #5f6367;
  transition: 0.2s linear;
  cursor: pointer;
  width: 18px;
}

.search-box:hover {
  border: 2px solid;
  border-color: #e7e7e7;
  background: #fff;
}

.active-search-box-svg {
  border-radius: 100px;
  width: 20px;
  background-color: #0069ee1c;
  padding: 4px 8px;
  stroke: #0069ee;
  stroke-width: 3px;
}

.active-search-box {
  border: none;
  background: #fff;
  border: 2px solid #ededed;
}

::placeholder {
  font-size: 16px;
  font-weight: normal;
}

.search-box input {
  padding-top: 3px;
  margin-left: 10px;
  border: none;
  width: 100%;
  position: relative;
  height: 45px;
  outline: none;
  background-color: transparent;
}

.space-5 {
  width: 5px;
  height: 5px;
}

.space-10 {
  width: 10px;
  height: 10px;
}

.space-15 {
  width: 15px;
  height: 15px;
}

.space-20 {
  width: 20px;
  height: 20px;
}

.space-40 {
  width: 40px;
  height: 40px;
}

.space-60 {
  width: 60px;
  height: 60px;
}

main {
  /* margin-top: -20px; */
  /* padding: 20px; */
  /* background: red; */
  /* background-color: red; */
}

.main-width-constraint {
  /* background-color: red; */
  width: 80%;
  margin: auto;
}

.main-content-wrapper {
  /* width: 90%; */

  margin: auto;
  padding: 20px 0;

  /* background: red; */
  /* display: flex;
  align-items: flex-start;
  justify-content: start;
  width: 100%;
  margin: auto;
  padding: 20px 20px;
  flex-direction: column; */
}

.main-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;

  /* background-color: green; */
  /* width: 80%;
  margin: auto; */
  /* background: red; */
}

/* .side-poster-item {
  display: flex;
} */

.side-poster-item .poster-text {
  margin-left: 10px;
}

.side-poster-item .poster-img-wrapper {
  width: 70%;
}

.side-poster-item .post-time {
  left: 10px;
}

.poster-item {
  position: relative;
  width: calc((100% / 5));
  overflow: hidden;
  margin: 20px 8px;
  margin-top: 0;
  cursor: pointer;

  /* width: 270px; */
  /* background: #FAFAFA; */
  /* border: 1px solid #242424; */
}

.poster-item:hover .poster-img {
  /* filter: brightness(0.8); */
  transform: scale(1.2);
}

.poster-text {
  width: 100%;
  /* padding: 0 10px 10px 10px; */
}

.poster-title {
  /* font-weight: 600;
  margin-bottom: 3px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-lines: 2; */

  /* font-weight: 600; */
  /* margin-bottom: 3px; */
  max-width: 100%;
  color: #000;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;

  /* margin-bottom: -13px; */

  /* font-size: 14px; */

  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  /* background: red; */
  /* max-height: 37px; */
}

.poster-name {
  /* margin-bottom: -4px; */
  display: block;
}

.post-time {
  position: absolute;
  top: 8px;
  right: 10px;
  background: #00000061;
  padding: 3px 7px;
  border-radius: 9px;
  color: #fff;
  width: max-content;
}

.poster-address {
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: grey;
}

.poster-img-wrapper {
  background-color: #f0f3f4;
  width: 99%;
  height: 180px;
  overflow: hidden;
  /* cursor: pointer; */
  transition: 0.3s linear;
  border-radius: 15px;
  border: 1px solid #ededed;
}

.poster-img {
  transition: 0.2s linear;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container,
main {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex-top {
  display: flex;
  align-items: flex-start;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-between-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.text-input {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  /* font-size: 1rem; */
}

.empty-state-img {
  width: 30%;
}

.fullscreen {
  width: 100vw;
  height: calc(100vh - 70px);
}

.playing-video-container {
}

.playing-video-text {
  padding: 20px;
  flex: 1;
}

.playing-video-title {
  line-height: normal;
}

.playing-video-element {
  background: #000;
  height: calc(100vh - 128px);
  width: 100%;
  border-radius: 15px;
}

.playing-video-tag-item {
  margin: 5px 10px;
  padding: 7px 10px;
  width: max-content;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.2s linear;
  border: 1px solid #00000014;
}

.playing-video-tag-item:hover {
  background-color: transparent;
  border-color: transparent;
}

.side-video-list {
  flex: 1;
  margin-left: 30px;
}

.text-input-2 {
  background: #fff;
  border: navajowhite;
  border-bottom: 2px solid #ededed;
  padding-bottom: 14px;
  width: 85%;
  /* width: calc(90% + 15px); */
  outline: none;
}

.text-input-2:focus {
  border-color: #e0e0ff7a;
}

.input-border {
  border-radius: 15px;
  padding: 20px 20px;
  border: 2px solid #ededed;
}

.thumbnail-preview {
  width: 100%;
  border-radius: 15px;
  background: #f0f3f4;
  height: 230px;
  border: none;
  object-fit: cover;
  max-width: 500px;
}

.file-selector {
  border: 1px solid #00000014;
  border-style: dashed;
  /* height: 109px; */
  width: 184px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
}

.file-selector svg {
  width: 30px;
  height: 30px;
  fill: rgb(156, 151, 151);
}

textarea {
  resize: vertical;
}

.logo-img {
  width: 120px;
  position: relative;
  top: 3px;
}

.logo-lg {
  width: 320px;
  position: relative;
  top: 25px;
}

.grey-text {
  /* color: #aaaaaa; */
  color: rgba(20, 20, 20, 0.6);
}

.text-lg {
  font-size: 4.3rem;
}

.color-span {
  color: #000000;
  /* color: #0000FE; */
  /* background: -webkit-linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    green,
    #0000FE,
    violet
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.video-upload-modal {
  overflow-y: scroll;
  max-height: 50vh;
}

.text-btn {
  color: #0000fe;
  cursor: pointer;
}

.text-btn:hover {
  opacity: 0.3;
}

.btn-filled svg,
.btn svg,
.fade-btn svg {
  margin-right: 10px;
  width: 17px;
  height: 17px;
  transition: 0.2s linear;
}

.btn-filled:hover svg,
.btn:hover svg,
.fade-btn:hover svg {
  fill: #0000fe;
  /* display: none; */
}

.btn-filled {
  height: 40px;
  background: #0000fe;
  /* font-weight: 600; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  /* height: 20px; */
  color: #fff;
  border-radius: 100px;
  user-select: none;
  border: 1px solid;
  border-color: #0000fe;
  cursor: pointer;
  transition: 0.3s linear;
}

.btn-filled:hover {
  color: #0000fe;
  background-color: transparent;
}

.fade-filled {
  background: #0000fe1f;
  color: #0000fe;
  border: none;
}

.btn {
  /* background: linear-gradient(
45deg, orange, #0039d9); */
  /* color: #fff; */
  /* font-weight: 600; */
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid;
  /* border-color: #fff; */
  -webkit-user-select: none;
  user-select: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background: #fff;
  color: #000;
}

.fade-btn {
  background: #111111;
  border-color: #111111;
}

.footer {
  /* border-top: 1px solid #FAFAFA; */
  /* background-color: #fff; */
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-weight: 600; */
}

@media screen and (max-width: 480px) {
  main {
    padding-top: 100px;
  }
}

/* @media screen and (max-width: 480px) {
  header .btn-filled {
    display: none;
  }

  header .logo-img {
    width: 100px;
  }

  .search-box {
    margin-left: 20px;
  }

  .main-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .poster-item {
    width: 96%;
  }

  .search-container {
    width: 100%;
  }
} */
