* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
}

body {
  font-size: 0.9rem;
  color: #3c4043;
  /* color: #262e36; */
  text-size-adjust: 100%;
  /* color: #fff; */
  /* background-color: #0e1217; */
}

b {
  font-weight: 600;
}

.back-header {
  margin-top: 70px;
  padding: 0 20px;
}

.back-button {
  cursor: pointer;
  transition: 0.2s linear;
}

.back-button:hover {
  color: grey;
}

.ReactModal__Overlay,
.ReactModal__Overlay--after-open {
  box-shadow: inset 50px 1000px 20px 20px #00000063;
}

/* .cc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 10%;
  background-color: red;
} */

.under-header {
  margin-top: 70px;
  padding: 20px;
}

.color-container {
  background-color: #fafafa;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #00000014;
}

.tags-bar {
  /* width: 100%; */
  overflow-x: scroll;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #00000014;
  margin-top: 72px;
  padding: 15px 20px;
}

.tag-item {
  white-space: nowrap;
  background: #f1f3f4;
  border: 1px solid #00000014;
  border-radius: 100px;
  width: -webkit-min-content;
  width: min-content;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.2s linear;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 10px;
  font-weight: 500;
}

.tag-item:hover {
  background: transparent;
  border-color: transparent;
}

header {
  position: fixed;
  top: 0px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background: #ffffffe8;
  z-index: 10;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(26px);
  border-bottom: 1px solid #00000014;
  /* padding: 20px; */
  /* border-bottom: 1px solid #00000014; */
}

.header-wrapper {
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.avatar {
  /* border: 1px solid #00000014; */
  /* background: #0F1218; */
  border-radius: 100px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-sm {
  width: 33px;
  height: 33px;
  /* background-color: #ffd200; */
  /* padding: 0; */
  object-fit: cover;
  /* width: 80px; */
}

.icon-btn {
  /* background: #0f1218; */
  border-radius: 100px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* border: 1px solid #00000014; */
  /* color: #fff; */
}

.icon-btn svg {
  width: 20px;
}

.icon-btn:hover {
  background: transparent;
}

.search-box {
  background: #f1f3f4;
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.05);

  /* background: #f1f3f4;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0 20px;
  outline-color: #006aee33; */
}

.search-box svg {
  color: #5f6367;
}

::placeholder {
  color: #afb2b2;
}

.search-box input {
  /* background: #f1f3f4;
  border: 1px solid rgba(0, 0, 0, 0.05); */
  /* border-radius: 8px; */
  /* margin-left: auto; */
  /* margin-right: auto; */

  margin-left: 10px;
  border: none;
  width: 100%;
  position: relative;
  height: 45px;
  outline: none;
  background-color: transparent;
  font-weight: 500;

  /* padding: 0 20px; */
  /* outline-color: #006aee33; */

  /* -webkit-transition: background 100ms ease-in, width 100ms ease-out; */
  /* transition: background 100ms ease-in, width 100ms ease-out; */

  /* width: 60%;
  height: 40px;
  padding: 4px 12px;
  border: none;
  border-radius: 10px;
  background: #fff;
  outline: none;
  border: 1px solid #00000014; */
  /* font-size: 16px; */
  /* color: #fff; */
  /* border: 1px solid #e3e3e3; */
}

.space-5 {
  width: 5px;
  height: 5px;
}

.space-10 {
  width: 10px;
  height: 10px;
}

.space-15 {
  width: 15px;
  height: 15px;
}

.space-20 {
  width: 20px;
  height: 20px;
}

.space-40 {
  width: 40px;
  height: 40px;
}

.space-60 {
  width: 60px;
  height: 60px;
}

main {
  /* margin-top: -20px; */
  /* padding: 20px; */
  /* background: red; */
  /* background-color: red; */
}

.main-width-constraint {
  /* background-color: red; */
  width: 80%;
  margin: auto;
}

.main-content-wrapper {
  /* width: 90%; */

  margin: auto;
  padding: 20px 0;

  /* background: red; */
  /* display: flex;
  align-items: flex-start;
  justify-content: start;
  width: 100%;
  margin: auto;
  padding: 20px 20px;
  flex-direction: column; */
}

.main-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;

  /* background-color: green; */
  /* width: 80%;
  margin: auto; */
  /* background: red; */
}

.poster-item {
  position: relative;
  width: calc((100% / 5));
  overflow: hidden;
  margin: 20px 8px;
  margin-top: 0;
  cursor: pointer;

  /* width: 270px; */
  /* background: #FAFAFA; */
  /* border: 1px solid #242424; */
}

.poster-item:hover .poster-img {
  /* filter: brightness(0.8); */
  transform: scale(1.2);
}

.poster-text {
  width: 100%;
  /* padding: 0 10px 10px 10px; */
}

.poster-title {
  display: block;
  margin: 10px 0;
  /* font-weight: normal; */
}

.post-time {
  position: absolute;
  top: 5px;
  right: 10px;
  background: #000000ab;
  padding: 3px 7px;
  border-radius: 4px;
  color: #fff;
}

.poster-address {
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: grey;
}

.poster-img-wrapper {
  background-color: #fafafa;
  width: 100%;
  height: 180px;
  overflow: hidden;
  /* cursor: pointer; */
  transition: 0.3s linear;
  border-radius: 4px;
  /* filter: brightness(0.8); */
}

.poster-img {
  transition: 0.2s linear;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container,
main {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-top {
  display: flex;
  align-items: flex-start;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-between-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.text-input {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  /* font-size: 1rem; */
}

.empty-state-img {
  width: 30%;
}

.fullscreen {
  width: 100vw;
  height: calc(100vh - 70px);
}

.playing-video-container {
}

.playing-video-text {
  padding: 20px;
  flex: 1;
}

.playing-video-title {
  line-height: normal;
}

.playing-video-element {
  background: #000;
  height: calc(100vh - 128px);
  width: 100%;
}

.playing-video-tag-item {
  margin-right: 10px;
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.2s linear;
  border: 1px solid #00000014;
}

.playing-video-tag-item:hover {
  background-color: transparent;
  border-color: transparent;
}

.side-video-list {
  flex: 1;
  margin-left: 30px;
}

.text-input-2 {
  background: #fff;
  border: 1px solid #00000014;
  padding: 16px;
  border-radius: 10px;
  width: calc(90% + 15px);
  outline: none;
}

.file-selector {
  background: #fff;
  border: 1px solid #00000014;
  padding: 24px;
  cursor: pointer;
  border-radius: 10px;
}

textarea {
  resize: vertical;
}

.grey-text {
  color: rgba(20, 20, 20, 0.6);
}

.text-lg {
  font-size: 4.3rem;
}

.color-span {
  color: #000000;
  /* color: #006aee; */
  /* background: -webkit-linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    green,
    #006aee,
    violet
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.btn-filled svg,
.btn svg,
.fade-btn svg {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  transition: 0.2s linear;
}

.btn-filled:hover svg,
.btn:hover svg,
.fade-btn:hover svg {
  fill: #006aee;
  /* display: none; */
}

.btn-filled {
  height: 40px;
  background: #006aee;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  /* height: 20px; */
  color: #fff;
  border-radius: 10px;
  user-select: none;
  border: 1px solid;
  border-color: #006aee;
  cursor: pointer;
  transition: 0.3s linear;
}

.btn-filled:hover {
  color: #006aee;
  background-color: transparent;
}

.btn {
  /* background: linear-gradient(
45deg, orange, #0039d9); */
  /* color: #fff; */
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid;
  /* border-color: #fff; */
  -webkit-user-select: none;
  user-select: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background: #fff;
  color: #000;
}

.fade-btn {
  background: #111111;
  border-color: #111111;
}

.footer {
  /* border-top: 1px solid #FAFAFA; */
  /* background-color: #fff; */
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
